
@layout.app() 
    @slot('main')
    <main>
      <div class="flex justify-center items-center h-screen">
        <h1 class="text-2xl font-mono text-red-400 ">
          Welcome to Home Page
        </h1>
      </div>
    </main>
    @end
@end